<p>
  <b>Content:</b>
  <%=h @microsoft.content %>
</p>

<p>
  <b>User:</b>
  <%=h @microsoft.user_id %>
</p>


<%= link_to 'Edit', edit_microsoft_path(@microsoft) %> |
<%= link_to 'Back', microsofts_path %>